.search {
  display: flex;
  align-items: center;
  flex-grow: 0.5;
  position: relative;
  svg {
    position: absolute;
    margin-left: 10px;
    opacity: 0.5;
  }
  input {
    height: 40px;
    flex-grow: 1;
    border-radius: 10px;
    border: 2px solid #00000078;
    padding-left: 35px;
    transition: all 0.2s ease-in-out;
    &:focus {
      border: 2px solid #000000;
    }
  }
  &_empty_img {
    cursor: pointer;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
  }
  &_empty_items {
    position: absolute;
    bottom: -30px;
    left: 0;
    color: rgb(228, 10, 10);
    width: 100%;
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  .search_empty_items {
    font-size: 12px;
  }
}
